<div class="contenedor">
    <div class="row gap-3">
        <div class="col-auto">
            <div class="justify-content-center align-items-center bg-white rounded p-2">
                <h4 class="m-auto" *ngIf="Producto[0]?.sku">{{Producto[0].sku}}</h4>
            </div>
        </div>
        <div class="col-auto">
            <div class="mini-card-producto justify-content-center align-items-center bg-white rounded p-2">
                <h4 class="m-auto" *ngIf="Producto[0]?.sku">{{Producto[0].cadena}}</h4>
            </div>
        </div>
        <div class="col-auto">
            <div class="justify-content-center align-items-center bg-white rounded p-2">
                <h4 class="m-auto">{{YearActual}}</h4>
            </div>
        </div>
        <div class="col-auto">
            <div class="mini-card-producto justify-content-center align-items-center bg-white rounded p-2">
                <h4 class="m-auto" *ngIf="Producto[0]?.sku; else ProductoNoEncontrado">{{Producto[0].descripcion}}</h4>
                <ng-template #ProductoNoEncontrado>
                    <h4 class="m-auto">Este producto no tiene información para mostrar</h4>
                </ng-template>
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="modal"
                data-bs-target="#HTML_modal_filtros">Filtros</button>
        </div>
        <div class="col-auto">
            <app-datalist [ProductosRecibidos]="this.Filtros.productos" [Radio]="true"
                (ProductosRetornados)="onProductosRetornados($event)">
            </app-datalist>
        </div>
        <!-- <div class="col-auto">
            <div class="btn-group btn-group-sm" id="GraficsRadioConfiguracionTypeDato">
                <input class="btn-check" type="radio" name="radioTypeDato" id="InpTipoDatoSoles" checked>
                <label class="btn btn-outline-secondary" for="InpTipoDatoSoles">En Soles</label>
                <input class="btn-check" type="radio" name="radioTypeDato" id="InpTipoDatoPiezas">
                <label class="btn btn-outline-secondary" for="InpTipoDatoPiezas">En Piezas</label>
            </div>
        </div> -->
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="contenedor-grafico-stat-producto">
                <!-- <div id="grafico_estadistica_producto_anual"></div> -->
                <div id="grafico_estadistica_producto_anual">
                    <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!"
                        [dataLabels]="chartOptions.dataLabels!" [plotOptions]="chartOptions.plotOptions!"
                        [yaxis]="chartOptions.yaxis!" [xaxis]="chartOptions.xaxis!" [grid]="chartOptions.grid!"
                        [subtitle]="chartOptions.subtitle!" [colors]="chartOptions.colors!"
                        [states]="chartOptions.states!" [title]="chartOptions.title!" [legend]="chartOptions.legend!"
                        [tooltip]="chartOptions.tooltip!" [noData]="chartOptions.noData!"
                        [stroke]="chartOptions.stroke!" [markers]="chartOptions.markers!" [fill]="chartOptions.fill!">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 text-center">
        <div class="col-6">
            <div class="card mb-3 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">
                        Total Vendido (Valores redondeados)
                        <span type="button" class="text-secondary fs-5" data-bs-toggle="tooltip" 
                            title="Ejemplo de valor redondeado:    279.45645 --> 279">
                            <i class="bi bi-info-circle-fill"></i>
                        </span>
                    </h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title pricing-card-title">
                        S/. {{this.sumaTotalProductoRedondeado}}
                        <small class="text-body-secondary fw-light">/anual</small>
                    </h3>
                </div>
            </div>
            <div class="card mb-3 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">
                        Total Vendido (Valores sin redondear)
                        <span type="button" class="text-secondary fs-5" data-bs-toggle="tooltip" 
                            title="Ejemplo de valor sin redondear:    279.45645 --> 279.45645">
                            <i class="bi bi-info-circle-fill"></i>
                        </span>
                    </h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title pricing-card-title">
                        S/. {{this.sumaTotalProductoPreciso}}
                        <small class="text-body-secondary fw-light">/anual</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-6">
            <table class="table text-start">
                <tbody *ngIf="this.Producto[0]">
                    <tr>
                        <th scope="row" class="text-start">Descripción</th>
                        <td>{{this.Producto[0].descripcion}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Código interno</th>
                        <td>{{this.Producto[0].codigo_interno}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Categoría</th>
                        <td>{{this.Producto[0].categoria}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Sku</th>
                        <td>{{this.Producto[0].sku}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Cadena</th>
                        <td>{{this.Producto[0].cadena}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Año</th>
                        <td>{{YearActual}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col">
            <h3 class="titulo-secondary">Cifras generales</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="title-resumen">Resumen Retail</h4>
                    <div class="mb-4"></div>
                    <div class="row contenedor-cifras-generales">
                        <div class="col">
                            <h5>Tienda</h5>
                            <div class="d-grid">
                                <div class="d-flex justify-content-start align-items-center mb-2">
                                    <div class="circle cas"></div>
                                    <div class="me-2"></div>
                                    <span>Tienda 1</span>
                                </div>
                                <div class="d-flex justify-content-start align-items-center mb-2">
                                    <div class="circle sod"></div>
                                    <div class="me-2"></div>
                                    <span>Tienda 2</span>
                                </div>
                                <div class="d-flex justify-content-start align-items-center mb-2">
                                    <div class="circle mas"></div>
                                    <div class="me-2"></div>
                                    <span>Tienda 3</span>
                                </div>
                                <div class="d-flex justify-content-start align-items-center mb-2">
                                    <div class="circle prom"></div>
                                    <div class="me-2"></div>
                                    <span>Tienda 4</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h5>Total soles</h5>
                            <div class="d-grid">
                                <div class="d-flex mb-2">
                                    <span>Soles 1</span>
                                </div>
                                <div class="d-flex mb-2">
                                    <span>Soles 2</span>
                                </div>
                                <div class="d-flex mb-2">
                                    <span>Soles 3</span>
                                </div>
                                <div class="d-flex mb-2">
                                    <span>Soles 4</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h5>Total piezas</h5>
                            <div class="d-grid">
                                <div class="d-flex mb-2">
                                    <span>Piezas 1</span>
                                </div>
                                <div class="d-flex mb-2">
                                    <span>Piezas 2</span>
                                </div>
                                <div class="d-flex mb-2">
                                    <span>Piezas 3</span>
                                </div>
                                <div class="d-flex mb-2">
                                    <span>Piezas 4</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h5>Progreso</h5>
                            <div class="contenedor-grafico-progreso-producto">
                                <div id="grafic_resumen_producto_anual"></div>
                            </div>
                        </div>
                        <div class="col">
                            <h5>Porcentaje</h5>
                            <div class="d-grid">
                                <div class="d-flex mb-2">
                                    <span>Porcentaje 1 %</span>
                                </div>
                                <div class="d-flex mb-2">
                                    <span>Porcentaje 2 %</span>
                                </div>
                                <div class="d-flex mb-2">
                                    <span>Porcentaje 3 %</span>
                                </div>
                                <div class="d-flex mb-2">
                                    <span>Porcentaje 4 %</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<!-- Modal Filtros -->
<div class="modal fade" id="HTML_modal_filtros" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title fs-5" id="HTML_modal_filtros_label"></div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="my-3">
                                    <label class="form-label h4">Años</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <select class="form-select form-selec-sm" id="InpYear"
                                    (change)="onSelectChangeYears($event)">
                                    <option *ngFor="let year of FiltroYears" value="{{year}}">{{year}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="form-label h6">Cadenas</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3" *ngFor="let cadena of Filtros.cadenas">
                                <div class="form-check">
                                    <input class="form-check-input" id="radio{{cadena}}" type="checkbox"
                                        name="radioCadenas" checked (change)="onCheckBoxChangeCadenas($event, cadena)">
                                    <label class="form-check-label" for="radio{{cadena}}">{{cadena}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="my-3">
                                    <label class="form-label h4">Locales</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-check">
                                    <input class="form-check-input" id="checkLocales" type="checkbox"
                                        (change)="DeseleccionarCheckBoxLocales()">
                                    <label class="form-check-label" for="checkLocales">Deseleccionar todos</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="ContenedorLocales">
                            <div class="col-3" *ngFor="let local of this.Filtros.ubicaciones">
                                <div class="form-check">
                                    <input class="form-check-input" id="check{{local.codigo}}" type="checkbox"
                                        [checked]="CheckBoxLocales"
                                        (change)="onCheckboxChangeLocales($event, local.codigo)">
                                    <label class="form-check-label fs-7"
                                        for="check{{local.codigo}}">{{local.local_tienda}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-sm btn-primary" (click)="GenerarPeticionApi()" data-bs-dismiss="modal">Generar Estadística</button>
            </div>
        </div>
    </div>
</div>