:host {
    --white: #FFFFFF;
    --black: #404040;
    --secondary: #A1A3D4;
    --border-card: #EFEFEF;
    --purple-low: #8675FF;
    --cian-low: #67C8FF;
    --orange-low: #FF9065;
    --yellow-low: #F9A243;
    --red-low: #FE7E7D;
    --green-low: #7ADEA2;
    --rosa-low: #E6A5FF;
    --blue-low: #669AFF;
    --text-main-low: #383874;
    --text-main: #383874;
    --text-secondary: #8484A0;
    --text-disabled: #B8B4CB;
    --green-hard: #00B929;
    --blue-neon: #384CFF;
    --sofia: 'Sofia Sans', sans-serif;
    --inter: 'Inter', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

h1,
.h1 {
    font-size: 48px;
}

h2,
.h2 {
    font-size: 34px;
}

h3,
.h3 {
    font-size: 18px;
}

h4,
.h4 {
    font-size: 16px;
}

h5,
.h5 {
    font-size: 12px;
}

h6,
.h6 {
    font-size: 10px;
}

.contenedor {
    /* background-image: url('../../assets/img/Bg-elements.png'); */
    background-color: #EEF1FA;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: calc(100vh - 60px);
    padding: 32px 42px 42px 42px;
}

.card {
    /* Snow */
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    /* Widget shadow */
    box-shadow: 0px 100px 80px rgba(108, 73, 172, 0.07), 0px 41.7776px 33.4221px rgba(108, 73, 172, 0.0503198), 0px 22.3363px 17.869px rgba(108, 73, 172, 0.0417275), 0px 12.5216px 10.0172px rgba(108, 73, 172, 0.035), 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725), 0px 2.76726px 2.21381px rgba(108, 73, 172, 0.0196802);
    border-radius: 10px;
}

.titulo-main {
    font-weight: 500;
    font-family: var(--poppins);
    color: var(--text-main);
}
.mini-card-sku{
    background-color: #ffffff;
    color: var(--text-main);
    font-weight: 600;
    height: 35px;
    width: 104px;
    border-radius: 4px;
}
.mini-card-producto{
    background-color: #FFFFFF;
    color: var(--text-main);
    font-weight: 400;
    font-size: 12px;
    height: 35px;
    width: 350px;
    border-radius: 4px;
}
/*Buttons*/
.boton-primario{
    height: 35px;
    background-color: var(--blue-neon);
    color: var(--white);
}
.boton-primario:hover{
    height: 35px;
    background-color: var(--blue-neon);
    color: var(--white);
}
.boton-primario:focus{
    height: 35px;
    background-color: #001aff;
    color: var(--white);
}
#HTML_btn_mostrar_ocultar_coordenada{
    width: 154px;
}
/*Grafico*/
.contenedor-grafico-stat-producto{
    position: relative;
    height: 424px;
    width: 100%;
    background-color: 'transparent';
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
/*Mostrar ocultar xaxis yaxis*/
.ocultar-mostrar-xaxis{
    position: absolute;
    bottom: 24px;
    left: 0px;
    width: 100%;
    height: 54px;
    background-color: #EEF1FA;
}
.ocultar-mostrar-yaxis{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 100%;
    background-color: #EEF1FA;
}
#HTML_mostrar_xaxis{
    transition: 0.5s ease-in-out;
}
#HTML_mostrar_yaxis{
    transition: 0.5s ease-in-out;
}

.title-resumen{
    color: var(--text-main);
    font-weight: 400;
    font-family: var(--poppins);
}
.titulo-secondary{
    color: var(--text-main);
    font-weight: 400;
    font-family: var(--poppins);
}
.contenedor-cifras-generales>div>h5{
    font-family: var(--sofia);
    color: var(--text-secondary);
    font-weight: 600;
}
.contenedor-cifras-generales>div>div>div>span{
    font-family: var(--sofia);
    color: var(--text-main);
    font-weight: 400;
    font-size: 14px;
}
.circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.contenedor-grafico-progreso-producto{
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    height: 116px;
}
#grafic_resumen_producto_anual{
    margin: 0px 0px 0px 0px;
}
.cas {
    background-color: var(--green-hard);
}

.sod {
    background-color: var(--blue-low);
}

.mas {
    background-color: var(--red-low);
}

.prom {
    background-color: var(--orange-low);
}