table>* {
    font-size: 12px;
    white-space: nowrap;
}
.input-group {
    display: flex;
    align-items: center;
}

.input-group-text {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-weight: bold;
}

input[type="month"] {
    border: 1px solid #ccc;
    padding: 0.5rem;
}

/* Opcional: Cambiar el estilo del mes seleccionado en el input */
input[type="month"]::-webkit-calendar-picker-indicator {
    filter: invert(25%) sepia(48%) saturate(6018%) hue-rotate(339deg) brightness(88%) contrast(82%);
}
/* css */
.table-container{
    height: 100%;
}
.table-cebra {
    border-spacing: 0;
    min-width: 100%;
}
.table-cebra thead th {
    background-color: #333;
    color: white;
}
.table-cebra tbody td {
    background-color: white;
    color: rgb(0, 0, 0);
}
.table-cebra tfoot th {
    background-color: #333;
    color: white;
}
.table-cebra th,
.table-cebra td {
    border: 1px solid #CCC;
    padding: 0.5rem;
    text-align: left;
}
.table-cebra .mes{
    min-width: 242px;
}
.table-cebra .sticky {
    position: sticky;
    z-index: 2;
    min-width: 80px;
    left: 0;
}
.table-cebra .sticky-2 {
    position: sticky;
    min-width: 206px;
    left: 80px;
}
.table-cebra .sticky-3 {
    position: sticky;
    min-width: 84px;
    left: 286px;
}
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 4;
}
.sticky-top2 {
    position: sticky;
    top: 28px;
    z-index: 1;
}
.sticky-bottom {
    position: sticky;
    bottom: 0;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
/* css */
.card-body {
    height: 100%;
    overflow: auto;
    padding: 0px 0px 0px 0px;
}
table>tbody>tr>td {
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
}

table>thead>tr>th {
    padding: 4px 4px 4px 4px;
    margin: 4px 4px 4px 4px;
}

table>tfoot>tr>th {
    padding: 4px 4px 4px 4px;
    margin: 4px 4px 4px 4px;
}